
.DS_Store
*.H
*.lp
*.E
*.perm
*.o
ChromaticSum/qubo_solver_cplex/qubo
ChromaticSum/quboSolver_BB/experiment45.txt
ChromaticSum/quboSolver_BB/log.txt
ChromaticSum/quboSolver_BB/quboSolver
ChromaticSum/quboSolver_BB/quboSolver1
*.xml
*.iml
DegreeConstrainedMST/data/CMakeLists.txt
DegreeConstrainedMST/lp_DCMST/cmake-build-debug/cmake_install.cmake
DegreeConstrainedMST/lp_DCMST/cmake-build-debug/CMakeCache.txt
*.cmake
DegreeConstrainedMST/lp_DCMST/cmake-build-debug/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
*.bin
*.out
*.c
*.check_cache
*.log
*.cxx
*.make
DegreeConstrainedMST/lp_DCMST/cmake-build-debug/CMakeFiles/Makefile2
*.marks
*.cbp
DegreeConstrainedMST/lp_DCMST/CMakeLists.txt
DegreeConstrainedMST/post_proc/cmake-build-debug/CMakeCache.txt
DegreeConstrainedMST/post_proc/cmake-build-debug/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
DegreeConstrainedMST/post_proc/cmake-build-debug/CMakeFiles/clion-environment.txt
DegreeConstrainedMST/post_proc/cmake-build-debug/CMakeFiles/clion-log.txt
DegreeConstrainedMST/post_proc/cmake-build-debug/CMakeFiles/Makefile2
DegreeConstrainedMST/post_proc/cmake-build-debug/CMakeFiles/post_proc.dir/link.txt
DegreeConstrainedMST/post_proc/cmake-build-debug/CMakeFiles/TargetDirectories.txt
DegreeConstrainedMST/post_proc/cmake-build-debug/Makefile
DegreeConstrainedMST/post_proc/CMakeLists.txt
DegreeConstrainedMST/qubo_formula/CMakeLists.txt
DegreeConstrainedMST/qubo_formula/debug1 copy.txt
DegreeConstrainedMST/qubo_formula/debug1.txt
qubosolv_cplex/qubo
SteinerTree/cmake-build-debug/CMakeFiles/clion-log.txt
*.stp
SteinerTree/lp_steiner_tree/cmake-build-debug/CMakeCache.txt
SteinerTree/lp_steiner_tree/cmake-build-debug/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
SteinerTree/lp_steiner_tree/cmake-build-debug/CMakeFiles/clion-environment.txt
SteinerTree/lp_steiner_tree/cmake-build-debug/CMakeFiles/clion-log.txt
SteinerTree/lp_steiner_tree/cmake-build-debug/CMakeFiles/lp_steiner_tree.dir/link.txt
SteinerTree/lp_steiner_tree/cmake-build-debug/CMakeFiles/Makefile2
SteinerTree/lp_steiner_tree/cmake-build-debug/CMakeFiles/TargetDirectories.txt
SteinerTree/lp_steiner_tree/cmake-build-debug/Makefile
SteinerTree/lp_steiner_tree/CMakeLists.txt
SteinerTree/lp_steiner_tree/lp_steiner_tree
SteinerTree/post_proc/cmake-build-debug/CMakeCache.txt
SteinerTree/post_proc/cmake-build-debug/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
SteinerTree/post_proc/cmake-build-debug/CMakeFiles/clion-environment.txt
SteinerTree/post_proc/cmake-build-debug/CMakeFiles/clion-log.txt
SteinerTree/post_proc/cmake-build-debug/CMakeFiles/Makefile2
SteinerTree/post_proc/cmake-build-debug/CMakeFiles/post_proc.dir/link.txt
SteinerTree/qubo_formula/qubo
SteinerTree/post_proc/postproc
*.alist
ChromaticSum/lp_solver_cplex/lp_chromatic
DegreeConstrainedMST/lp_DCMST/cmake-build-debug/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
DegreeConstrainedMST/lp_DCMST/cmake-build-debug/CMakeFiles/clion-environment.txt
DegreeConstrainedMST/lp_DCMST/cmake-build-debug/CMakeFiles/TargetDirectories.txt
SteinerTree/post_proc/cmake-build-debug/Makefile
SteinerTree/post_proc/CMakeLists.txt
SteinerTree/post_proc/cmake-build-debug/CMakeFiles/TargetDirectories.txt
SteinerTree/qubo_formula/cmake-build-debug/CMakeCache.txt
SteinerTree/qubo_formula/cmake-build-debug/CMakeFiles/clion-log.txt
SteinerTree/qubo_formula/cmake-build-debug/CMakeFiles/Makefile2
SteinerTree/qubo_formula/cmake-build-debug/CMakeFiles/clion-environment.txt
DegreeConstrainedMST/lp_DCMST/cmake-build-debug/CMakeFiles/clion-log.txt
DegreeConstrainedMST/lp_DCMST/cmake-build-debug/Makefile
DegreeConstrainedMST/lp_DCMST/cmake-build-debug/CMakeFiles/lp_DCMST.dir/link.txt
SteinerTree/qubo_formula/cmake-build-debug/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
SteinerTree/qubo_formula/cmake-build-debug/CMakeFiles/qubo_formula.dir/link.txt
SteinerTree/qubo_formula/cmake-build-debug/CMakeFiles/TargetDirectories.txt
SteinerTree/qubo_formula/cmake-build-debug/Makefile
SteinerTree/qubo_formula/CMakeLists.txt
DegreeConstrainedMST/post_proc/postproc
DegreeConstrainedMST/qubo_formula/.idea/.name
DegreeConstrainedMST/qubo_formula/cmake-build-debug/CMakeCache.txt
DegreeConstrainedMST/qubo_formula/cmake-build-debug/CMakeFiles/clion-environment.txt
DegreeConstrainedMST/qubo_formula/qubo
DegreeConstrainedMST/qubo_formula/cmake-build-debug/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
DegreeConstrainedMST/qubo_formula/cmake-build-debug/CMakeFiles/clion-log.txt
DegreeConstrainedMST/qubo_formula/cmake-build-debug/CMakeFiles/DegreeConstrainedMST.dir/link.txt
DegreeConstrainedMST/qubo_formula/cmake-build-debug/CMakeFiles/Makefile2
DegreeConstrainedMST/qubo_formula/cmake-build-debug/Makefile
DegreeConstrainedMST/qubo_formula/debug
DegreeConstrainedMST/qubo_formula/debug.txt
DegreeConstrainedMST/qubo_formula/debug.txt
DegreeConstrainedMST/qubo_formula/debug1
DegreeConstrainedMST/qubo_formula/cmake-build-debug/CMakeFiles/TargetDirectories.txt
